section.sec.sec_grad.cace-sec
  .container
    h2.sec-title Кейсы
    .cace-sec__wrap
      include cace.html
      include cace.html
      include cace.html
    .cace-sec__bar
      button.btn.btn_more.cace-sec__more 
        |Ещё один кейс
        svg(width="24" height="24"  viewBox="0 0 24 24")
          path(d="M17.65 6.35A8 8 0 1 0 19.73 14h-2.08A6 6 0 1 1 12 6a5.915 5.915 0 0 1 4.22 1.78L13 11h7V4z")
      button.btn.btn_grey.btn_xl.cace-sec__order.js-popup-order ХОЧУ ТАКОЙ ЖЕ РЕЗУЛЬТАТ