.page.sec_grad.cace-page
  include ../modules/breadcrumbs.html
  .container
    h1.page-title Кейсы
    include ../modules/caces-page-bar.html    
    .cace-grid
      include cace-grid-item.html
      include cace-grid-item.html
      include cace-grid-item.html
      include cace-grid-item.html
      include cace-grid-item.html
      include cace-grid-item.html
      include cace-grid-item.html
      include cace-grid-item.html
      include cace-grid-item.html
    include ../modules/pagination.html