section.sec.sec_grad.services-sec
  .container
    .js-tabs
      .services-sec__header
        h2.sec-title Услуги
        .tab-bar
          button.btn.tab-bar__btn.js-tab.active Я знаю что мне нужно
          button.btn.tab-bar__btn.js-tab Я не знаю что мне нужно
      .services-sec__items
        .services-sec__item.js-tab-item
          include services.html
        .services-sec__item.js-tab-item
          include services-alt.html