//цвета
$clr-txt: #3D4B66;
$clr-white: #fff;
$clr-footer-btn: #3d4c67;
$clr-txt-white: #fff;
$clr-title: #36394D;
$clr-act: #F04159;
$clr-act-hover: #d82447;
$clr-link: #5060D5;
$clr-link-hover: #3444b5;
$clr-green: #08AE00;
$clr-brd: #E1EDF5;
$clr-bg: #EDF5FA;
$clr-input: #F6FAFC;
$clr-grey-light: #C8D9E5;
$clr-grey: #ADBACC;
$clr-grey-dark: #738399;
$clr-play-btn-brd: #f3f7fa;

//градиенты
$grd-sec: linear-gradient(to top, #edf5fa, #fff);

//шрифты
$font-main: 'Gotham Pro', sans-serif;
$font-pairings: 'Roboto Condensed', sans-serif;

//тени
$shd-main: 0 15px 40px 0 rgba(70, 107, 158, .1);
$shd-main-slider: 0 10px 11px 0 rgba(70, 107, 158, .1);
$shd-main-slider-hover: 0 10px 11px 0 rgba(80, 96, 213, .24);
$shd-btn: 0 8px 24px 0 rgba(70, 107, 158, .16);
$shd-btn-hover: 0 4px 12px 0 rgba(70, 107, 158, .16);
$shd-card: 0 15px 40px 0 rgba(70, 107, 158, .1);
$shd-card-hover: 0 15px 40px 0 rgba(80, 96, 213, .24);
$shd-header: 0 4px 8px 0 rgba(173, 186, 204, .24);
$shd-boolet: 0 6px 16px 0 rgba(124, 148, 165, .25);





