.main-sec{
  &_advertising{
    background: url(../img/pic/main-sec/advertising-bg.png) center bottom no-repeat;
    background-size: 1920px auto;
  }
  &_index{
    background: url(../img/pic/main-sec/main-bg.png) center center no-repeat;
    background-size: 1920px auto;
  }
  &__wrap{
    height: 664px;
    padding-top: 64px;
    position: relative;
    @include flex-center-between;
  }
  &__pic{
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -9px;
    width: 313px;
    @include flex-end-center;
    &_advertising{
      margin-left: 40px;
      width: 456px;
      transform: translateX(-50%);
      .main-sec__pic-figcaption{
        z-index: 2;
        bottom: 88px;
        right: -56px;
      }
    }
    &-figcaption{
      position: absolute;
      display: block;
      padding: 7px 16px 7px 14px;
      text-align: right;
      box-shadow: $shd-main;
      background-color: $clr-white;
      font-size: 14px;
      line-height: 1.6;
      color: $clr-title;
      white-space: nowrap;
      span{
        display: block;
        font-size: 8px;
        line-height: 1.6;
        color: $clr-grey-dark;
      }
    }
    &-quote{
      position: absolute;
      background: url(../img/svg/quotes.svg) 16px 16px no-repeat $clr-title;
      color: $clr-txt-white;
      padding: 20px 40px 20px 64px;
      font-family: $font-pairings;
      text-transform: uppercase;
      font-size: 20px;
      font-weight: 700;
      line-height: 1.6;
      width: 328px;
      top: 24px;
      right: -224px;
      &:before{
        content: '';
        display: block;
        position: absolute;
        bottom: 19px;
        left: -12px;
        border-bottom: 12px solid $clr-title;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
      }
    }
  }
  &__content{
    position: relative;
    z-index: 2;
    width: 520px;
  }
  &__title{
    margin-bottom: 50px;
    font-size: 48px;
    font-weight: 300;
    line-height: 1.4;
    color: $clr-title;
  }
  &__list{
    margin-bottom: 47px;
    max-width: 405px;
    li{
      position: relative;
      padding-left: 48px;
      font-size: 20px;
      line-height: 1.6;
      color: $clr-txt;
      min-height: 32px;
      margin-bottom: 20px;
      &:before{
        content: '';
        display: block;
        position: absolute;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background: url(../img/svg/check-bulet.svg) center center no-repeat $clr-green;
        border: 2.5px solid $clr-white;
        box-shadow: $shd-boolet;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
  &__bar{@include flex-center-start;}
  &__btn{
    width: 240px;
    max-width: 50%;
    margin-right: 32px;
  }
  &__tarrif{
    display: inline-block;
    height: 64px;
    padding: 7px 0 7px 64px;
    background: url(../img/svg/file_blue.svg) 0 center no-repeat;
    color: $clr-link;
    line-height: 1.6;
    &:hover{text-decoration: underline;}
  }
  &__video{
    padding-left: 76px;
    position: relative;
    z-index: 4;
    font-size: 16px;
    line-height: 1.6;
    color: $clr-grey-dark;
    cursor: pointer;
    &:before{
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      margin-top: -30px;
      border: 6px solid $clr-play-btn-brd;
      box-shadow: $shd-btn;
      transition: background-color .25s;
      background: url(../img/svg/play-red.svg) center center no-repeat $clr-white;
    }
    &:hover{
      &:before{
        background-image: url(../img/svg/play-white.svg);
        background-color: $clr-act;
      }
    }
  }
  &__serts{
    position: relative;
    width: 160px;
    &-title{
      margin-bottom: 24px;
      font-family: $font-pairings;
      font-size: 10px;
      font-weight: bold;
      line-height: 1.6;
      color: $clr-grey;
      text-transform: uppercase;
    }
    &-item{
      @include flex-center-center;
      height: 48px;
      padding: 2px 5px;
      background-color: $clr-white;
      margin-bottom: 16px;
      box-shadow: $shd-main;
    }
  }
  @media only screen and (min-width : 1920px){
    &_advertising,
    &_index{background-size: cover;}
  }
  @media only screen and (max-width : 1023px){
    &_advertising{
      background-position: -510px bottom;
      background-size: 1650px auto;
    }
    &__wrap{
      height: 608px;
      padding-top: 112px;
    }
    &__pic{
      margin-left: -19px;
      width: 232px;
      &_advertising{
        margin-left: 0;
        left: 227px;
        width: 373px;
        transform: none;
        .main-sec__pic-figcaption{display: none;}
      }
      &-quote{
        background-position: 15px 15px;
        background-size: 40px auto;
        padding: 18px 24px 18px 46px;
        font-size: 14px;
        width: 231px;
        top: 50px;
        right: -126px;
        &:before{bottom: 15px;}
      }
    }
    &__title{
      margin-bottom: 30px;
      font-size: 38px;
      line-height: 1.26;
      text-align: left;
    }
    &__list{
      margin-bottom: 32px;
      max-width: 336px;
      li{
        font-size: 16px;
        margin-bottom: 16px;
        padding-top: 5px;
      }
    }
    &__bar{
      display: block;
      max-width: 288px;
  }
    &__btn{
      width: 100%;
      max-width: 100%;
      margin: 0;
    }
    &__tarrif{
      height: 48px;
      line-height: 48px;
      padding: 0 0 0 48px;
      background-size: 48px auto;
      margin-top: 24px;
      br{display: none;}
    }
    &__video{
      font-size: 14px;
      width: 212px;
      margin: 20px auto;
      text-align: left;
      &_absolute{
        margin-top: 80px;
        margin-left: -5px;
      }
    }
    &__serts{
      width: 136px;
      &-title{margin-bottom: 16px;}
      &-item{
        @include flex-center-center;
        height: 40px;
        padding: 1.5px 4px;
        margin-bottom: 14px;
      }
    }    
  }
  @media only screen and (max-width : 767px){
    &_index{
      background: url(../img/pic/main-sec/main-bg.jpg) right bottom no-repeat, linear-gradient(to top, #edf5fa, #fff);
      background-size: auto 664px,  cover;
    }
    &_advertising{
      background: url(../img/pic/main-sec/advertising-bg.png) -606px bottom no-repeat, linear-gradient(to top, #edf5fa, #fff);
      background-size: auto 401px,  cover;
      .main-sec__wrap{padding-bottom: 296px;}
      .main-sec__pic-figcaption{
        bottom: 8px;
        right: auto;
        left: 135px;
        display: block;
        font-size: 12px;
        padding: 5px 6px 5px 12px;
        span{font-size: 6px;}
      }
    }
    &__wrap{
      height: auto;
      padding-top: 112px;
      display: block;
      padding-bottom: 428px;
    }
    &__pic{
      left: 0;
      margin-left: -30px;
      width: auto;
      height: 408px;
      img{
        height: 100%;
        max-width: unset;
      }
      &_advertising {
        height: 271px;
        left: -50px;
        figure{height: 100%;}
      }
      &-figcaption {
        display: block;
      }
      &-quote {
        background-position: 12px 12px;
        background-size: 32px auto;
        padding: 15px 12px 15px 38px;
        font-size: 12px;
        width: 184px;
        top: 8px;
        right: auto;
        left: 180px;
        &:before{bottom: 12px;}
      }
    }
    &__content{width: 100%;}
    &__bar{
      max-width: 100%;
      text-align: center;
    }
    &__video{
      margin-top: 38px;
      &_absolute{
        margin: 0;
        top: auto;
        left: auto;
        right: 8px;
        bottom: 101px;
        position: absolute;
        width: 163px;
      }
    }
    &__serts{
      position: absolute;
      right: 0;
      bottom: 100px;
    }
  }
}