.services-sec{
  &__header{
    @include flex-center-between;
    margin-bottom: 8px;
  }
  @media only screen and (max-width : 1023px){
    &__header{margin-bottom: 0;}
  }
  @media only screen and (max-width : 767px){
    .sec-title{margin-bottom: 16px;}
    &__header{
      display: block;
      margin-bottom: 0;
      .tab-bar__btn{
        width: 50%;
        text-align: center;
      }
    }
  }
}