extends ../layout/layout

block main
  include ../modules/main-sec_advertising.html
  include ../modules/quote-sec_1.html
  include ../modules/cace-sec
  include ../modules/diag-sec.html
  include ../modules/quote-sec_2.html
  include ../modules/tarrifs-sec.html
  include ../modules/quote-sec_3.html
  include ../modules/questions-sec.html
  include ../modules/steps-sec.html
  include ../modules/video-sec.html
  include ../modules/blog-sec.html
  include ../modules/subscribe-sec.html
  include ../modules/video-wrap.html
  include ../modules/popup_order.html
  include ../modules/popup_order_2.html