extends ../layout/layout

block main
  include ../modules/main-sec.html
  include ../modules/result-sec.html
  include ../modules/cace-sec
  include ../modules/services-sec
  include ../modules/about-sec.html
  include ../modules/blog-sec.html
  include ../modules/docs-sec.html
  include ../modules/video-sec.html
  include ../modules/faq-sec.html