<!DOCTYPE html>
html(lang="Ru-ru")
  head
    include ../global_modules/head
  body
    include ../global_modules/intro.html
    .wrapper      
      include ../global_modules/header.html
      include ../global_modules/hide-menu.html
      main.main
        block main
      include ../global_modules/footer.html
      include ../global_modules/scripts